.weatherDataCont {
    background: rgba(200, 200, 200, .5);
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px;
    margin: 15px;
}

.weatherTemperatureCont {
    width: 60%;
    display: inline-block;
}

.temperature {
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #111;
}

.temperatureType {
    font-weight: bold;
    color: #666;
}


.wicon {

}

.weatherExtraInfoCont {
    width: 40%;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}

.extraInfoText {
   display: block; 
   color: #888;
   font-size: 16px;
   font-weight: bold;
}